<footer class="mt-12 fixed text-center bottom-0 w-full bg-outer-space-300 dark:bg-outer-space-600 text-soft-red-50">
    <div class="text-center p-2 text-xs">
        This site stores <span class="font-bold">none</span> of the hashed data, just the hashes.
    </div>

    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.5);">
        Made with ❤️ by <a href="https://iidxfan.xyz" class="text-gray-300 hover:text-gray-500">Trenton Zimmer</a>
    </div>
</footer>